.Weather {
  border: 2px solid #0f3057;
  border-radius: 155px;
  margin-bottom: 155px;
}

body {
  font-family: "Tenor Sans", sans-serif;
  padding-top: 30px;
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}
.weather SearchCity {
  padding: 5px;
  margin-right: 5px;
  border-radius: 15px;

  background-color: #ffe8d6;
}
.weather header {
  margin: 20px auto;
  text-align: center;
}

h1,
h2,
p {
  display: block;
  margin: auto;
  text-align: center;
}

.Main-city {
  color: #ffe5ab;
  font-weight: bold;
  position: relative;
  line-height: 60px;
}
h2 {
  color: #fcf876;
  font-weight: bold;
  position: relative;
  line-height: 60px;
}
.CodedBy {
  padding-top: 20px;
  font-size: 15px;
  font-family: serif;
  color: whitesmoke;
}
.MainDescription {
  color: #ff9642;
  font-size: 26px;
  font-weight: 900;
  position: relative;
}

.time {
  color: #65d6ce;
}

.btn-btn-success {
  font-weight: bold;
  color: #263238;
  background-color: #ffa726;
  position: relative;
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 5px 9px;
  transition: all 200ms ease;
}
.btn-btn-success:hover {
  background-color: #bae8e8;
  color: #474f85;
}

.hightemp {
  color: #cffffe;
  position: relative;
  font-size: 22px;
  font-weight: bold;
}
.degreeSym {
  color: #eeeeee;
  position: relative;
  bottom: 08px;
  font-size: 12px;
}
.lowtemp {
  color: #eeeeee;
  position: relative;
  font-size: 16px;
}
.container {
  text-align: center;
  padding-bottom: 100px;
}
.future {
  color: #ffe5ad;
  font-weight: bold;
  font-size: 26px;
  position: relative;
}

.description {
  color: #132743;
  font-size: 22px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.temp {
  color: #fca3cc;
  line-height: 20px;
  font-size: 18px;
}
.low-temp {
  color: #bce6eb;
  font-size: 16px;
}
.grid {
  border: 5px solid;
}

.temperature,
.celsius-link,
.fahrenheit-link,
.units {
  display: block;
  margin: auto;
  text-align: center;
  color: #ffabe1;
  font-size: 18px;
  font-weight: 900;
  position: relative;
}

.Weather {
  max-width: 1000px;
  margin: 30px auto;
}

.header .degreeSym {
  color: white;
  cursor: default;
}
.header .degreeSym:hover {
  text-decoration: none;
}
